html{
  font-size:18px;
  font-family: Helvetica;
}

.banner{
  background-color: black;
  width: 100%;
  text-align: left;

}
.logo{
  width:960px;
  margin: 0 auto;
  text-align: left;
  padding: 0.66rem 1rem 0.66rem 0.5rem;
  display: flex;
  align-items: center;
}

.logo img{
  height:1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.logo h1 {
  font-family: helvetica;
  font-size: 1rem;
  color: white;
  display: inline;
}

.header{
  background-image:url("../images/moto.jpeg");
  background-size: cover;
  height: 25rem;
  position: relative;
  background-position: center;
  width: 100%;
}

.headcontainer{
  width: 960px;
  margin: 0 auto;
}
.newarrival{
  color: white;
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  text-align: left;
  position: absolute;
  margin-top: 9rem;
}

.newarrival h4{
  font-family: helvetica;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 0.25rem;
}

.newarrival h2{
  font-family: helvetica;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.25em;
}

.topnav{
  background-color: firebrick;
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

nav{
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.topnav span{
  color: white;
}

.menu{
  display: none;
}

.menu p{
  color: white;
  text-align: center;
}

.midcontainer{
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.images{
  border: 4px solid black;
  width: 30%;
  margin-top: 3rem;
}

.images img{
  height: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.images p{
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.images-watch{
  border: 4px solid black;
  width: 30%;
  margin-top: 3rem;
}

.images-watch img{
  height: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.images-watch p{
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.images-glasses{
  border: 4px solid black;
  width: 30%;
  margin-top: 3rem;
}

.images-glasses img{
  height: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-width: 100%
}

.images-glasses p{
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.description{
  display: flex;
  justify-content: center;
}

.locationhours{
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.locations {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 35%;
  margin-top: 3rem;
}

.locations h4{
  background-color: black;
  color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 5px;
}

.footer{
  background-color: black;
  color: white;
  width: 100%;
  height: 5rem;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  padding: 5rem;
  padding-left: 0;
}

.footer p{
  width: 960px;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .logo h1{
    font-size:0.85rem;
  }
  .logo img{
    height: 1.2rem;
  }
  .newarrival h4{
    font-size:0.80rem;
  }
  .newarrival h2{
    font-size: 1.75rem;
  }
  nav{
    display:none;
  }
  .menu{
    display: block;
  }
  .midcontainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .images-glasses{
    display: none;
  }
  .images{
    width: 47%;
  }
  .images-watch{
    width: 47%;
  }
  .locationhours{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .locations{
    width: 35%;
  }
}

@media only screen and (max-width:470px) {
  .newarrival h4{
    font-family: helvetica;
    font-size: 0.77rem;
    font-weight: bold;
    padding-bottom: 0.2rem;
  }

  .newarrival h2{
    font-family: helvetica;
    font-size: 1rem;
    font-weight: bold;
  }

  .newarrival{
    padding-left: 2rem;
  }

  /*.headcontainer{
    display: flex;
    align-items: baseline;
  }*/
  .midcontainer{
    display: flex;
    justify-content: center;
  }
  .images-glasses{
    display: none;
  }

  .images-watch{
    display: none;
  }

  .images{
    width: 90%;
  }

  .locationhours{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .locations{
    width: 90%;
    margin-left: 0 auto;
  }

  .footer p{
    text-align: center;
  }
}
